
.DS_Store

*.swp

dtd-errors.txt

pdf/*.tex

pdf/*.log

pdf/*.aux

pdf/*.pdf

pdf/*.out

pdf/*.toc

html/*.html

html/*/*.html

images/*.svg

images/*.bak

images/*.pdf

images/*.jpg

html/images

pdf/images
